In [3]:
import pandas as pd 

hour_df = pd.read_parquet(r"/workspaces/weather-scraper-analyzer/data/hourly_dataframe.gzip")
day_df = pd.read_parquet(r"/workspaces/weather-scraper-analyzer/data/daily_dataframe.gzip")

In [4]:
hour_df.head()

,date,temperature_2m,relative_humidity_2m,precipitation,weather_code,wind_speed_10m,wind_direction_10m,wind_gusts_10m
index,,,,,,,,
0,1999-12-31 21:00:00+00:00,3.0,-1.128,86.920624,0.0,13.722565,355.486084,25.199999
1,1999-12-31 22:00:00+00:00,3.0,-1.328,86.577271,0.0,12.287555,354.957642,25.559999
2,1999-12-31 23:00:00+00:00,3.0,-1.778,87.833557,0.0,12.496719,348.366394,24.480000
3,2000-01-01 00:00:00+00:00,3.0,-1.978,87.486717,0.0,12.849528,348.690094,23.400000
4,2000-01-01 01:00:00+00:00,3.0,-2.128,86.170082,0.0,12.758432,343.610382,24.840000

In [5]:
day_df.head()

,date,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant
index,,,,,,,,,
0,1999-12-31 21:00:00+00:00,3.0,1.022,-3.178,-1.711334,0.0,14.003029,29.519999,334.442993
1,2000-01-01 21:00:00+00:00,3.0,1.472,-3.528,-1.278000,0.0,9.007196,19.440001,15.975966
2,2000-01-02 21:00:00+00:00,3.0,-0.228,-4.928,-2.430083,0.0,7.091177,18.719999,244.041290
3,2000-01-03 21:00:00+00:00,3.0,1.922,-1.078,0.167833,0.0,5.860375,14.400000,173.779129
4,2000-01-04 21:00:00+00:00,3.0,1.872,-1.078,0.063667,0.0,7.704336,16.919998,243.012177

In [9]:
print(hour_df.dtypes)
print(day_df.dtypes)

date                    datetime64[ns, UTC]
temperature_2m                      float32
relative_humidity_2m                float32
precipitation                       float32
weather_code                        float32
wind_speed_10m                      float32
wind_direction_10m                  float32
wind_gusts_10m                      float32
dtype: object
date                           datetime64[ns, UTC]
weather_code                               float32
temperature_2m_max                         float32
temperature_2m_min                         float32
temperature_2m_mean                        float32
precipitation_sum                          float32
wind_speed_10m_max                         float32
wind_gusts_10m_max                         float32
wind_direction_10m_dominant                float32
dtype: object

In [23]:
# coldest temperature by day
day_df[day_df['temperature_2m_min'] == day_df['temperature_2m_min'].min()]

,date,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant
index,,,,,,,,,
1108,2003-01-12 21:00:00+00:00,3.0,-11.378,-23.377998,-16.900917,0.0,7.289444,16.919998,169.619522

In [24]:
# hottest temperature by day
day_df[day_df['temperature_2m_max'] == day_df['temperature_2m_max'].max()]

,date,weather_code,temperature_2m_max,temperature_2m_min,temperature_2m_mean,precipitation_sum,wind_speed_10m_max,wind_gusts_10m_max,wind_direction_10m_dominant
index,,,,,,,,,
2761,2007-07-23 21:00:00+00:00,51.0,39.872002,24.472,31.507416,0.1,20.65848,48.959999,218.971268

## SQL QUERIES

In [3]:
import sqlite3
conn = sqlite3.connect(r"/workspaces/weather-scraper-analyzer/data/weather_data.db")
c = conn.cursor()

c.execute('''SELECT * FROM daily_data LIMIT 5''')
results = c.fetchall()
results

[(0,
  '2000-01-01 00:00:00+00:00',
  3.0,
  1.0220000743865967,
  -3.177999973297119,
  -1.8738332986831665,
  0.0,
  14.003028869628906,
  29.51999855041504,
  331.60308837890625),
 (1,
  '2000-01-02 00:00:00+00:00',
  3.0,
  1.472000002861023,
  -4.677999973297119,
  -1.4905000925064087,
  0.0,
  9.007196426391602,
  19.440000534057617,
  14.9572172164917),
 (2,
  '2000-01-03 00:00:00+00:00',
  3.0,
  -0.22800001502037048,
  -4.927999973297119,
  -2.0050830841064453,
  0.0,
  7.091177463531494,
  18.719999313354492,
  219.53285217285156),
 (3,
  '2000-01-04 00:00:00+00:00',
  3.0,
  1.9220000505447388,
  -0.9779999852180481,
  0.20950005948543549,
  0.0,
  5.86037540435791,
  14.399999618530273,
  178.26431274414062),
 (4,
  '2000-01-05 00:00:00+00:00',
  3.0,
  1.8720000982284546,
  -1.0779999494552612,
  0.1470000296831131,
  0.0,
  7.704335689544678,
  16.919998168945312,
  243.43499755859375)]